:root {
    --color-0: #9ddbc9;
    --color-1: #f3aacb;
    --color-2: #15ab92;
    --color-3: #1e91ed;
    --color-5: #ba74df;
    --colorblack: rgb(25, 25, 25);
    --color-blanquito: rgb(241, 240, 240);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#body {
    font-size: 1rem;
    background-color: var(--color-0);
}

/*---------------NAV------------*/

.container__nav-mobile {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.item__nav-mobile-title {
    width: 100%;
}

.item__nav-mobile {
    width: 20%;
}
.item__nav-mobilee{
    margin-top:0.6rem;
    width: 60%;
}

.item__main {
    display: flex;
    justify-items: flex-start;
    margin-left: 1rem;
}

.container-right-nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    position: relative;
    right: 0;
}

.item-nav-right {
    margin-right: 1rem;
}

.item__nav-mobile {
    margin-top: 1.2rem;
}

.enlace-item {
    font-size: 1.6rem;
    color: var(--color-2);

}

.text_mobile {
    font-family: monospace;
    font-size: 2.4rem;
    color:var(--color-2);
    text-shadow:var(--color-0) 2px 2px 0px,var(--color-2) 3px 3px 0px;
}

/*--------Offcanvas---------*/

.offcanvas-header{
    background-color:var(--color-0);
    height:4%;
}
.offcanvas-body{
    padding:0rem;
    margin-top:2rem;
    background-color:var(--color-blanquitooffcanvas)
}

#offcanvasExample{
    width:80%;
}

.container-main{
    list-style: none;
    margin:0;
    padding:0;
}

.enlace__main{
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    font-size:1.4rem;
    text-decoration:none;
    color: #15ab92;
}

